* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    background-color: rgb(5, 3, 0);
    display: flex;
    justify-content: space-around;
    padding: 0px 75px 40px 75px;
}

header div {
    width: 50%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo .logo__img {
    height: 80px;
    object-fit: contain;

}

nav a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.container {       /* я хуй знает, где его применять на новой шапке, но удалять жалко */
    max-width: 1200px;
    margin: auto;
}

@media screen and (max-width: 1250px) {
    .container {
        max-width: 1000px;
    }
}

#banner {
    position: absolute;
    width: 100%;
    height: 900px;
    background-image: url('fon.jpg');
}

.parfum
{   display: flex;
    position:relative;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size:100px;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}